<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coursistant.lms.module.file.repository.SubmissionFileMapper">

    <sql id="Base_Column_List">
        id, submission_id, type, file_id, content, uploaded_by, create_time, order_index, file_path
    </sql>

    <select id="selectAll" resultType="com.coursistant.lms.module.file.entity.SubmissionFile">
        select
        <include refid="Base_Column_List"/>
        from AssignmentSubmissionFile
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="submissionId != null">and submission_id = #{submissionId}</if>
            <if test="type != null">and type = #{type}</if>
            <if test="fileId != null">and file_id = #{fileId}</if>
        </where>
    </select>

    <select id="selectSubmissionInfo" resultType="com.coursistant.lms.module.file.entity.SubmissionFile">
        select
        <include refid="Base_Column_List"/>
        from AssignmentSubmissionFile
        where submission_id = #{submissionId}
    </select>

    <select id="selectById" resultType="com.coursistant.lms.module.file.entity.SubmissionFile">
        select
        <include refid="Base_Column_List"/>
        from AssignmentSubmissionFile
        where id = #{id}
    </select>

    <select id="selectBySubmissionId" resultType="com.coursistant.lms.module.file.entity.SubmissionFile">
        select
        <include refid="Base_Column_List"/>
        from AssignmentSubmissionFile
        where submission_id = #{submissionId}
    </select>

    <insert id="insert" parameterType="com.coursistant.lms.module.file.entity.SubmissionFile" useGeneratedKeys="true" keyProperty="id">
        insert into AssignmentSubmissionFile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="submissionId != null">submission_id,</if>
            <if test="type != null">type,</if>
            <if test="fileId != null">file_id,</if>
            <if test="filePath != null">file_path,</if>
            <if test="content != null">content,</if>
            <if test="uploadedBy != null">uploaded_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="orderIndex != null">order_index,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="submissionId != null">#{submissionId},</if>
            <if test="type != null">#{type},</if>
            <if test="fileId != null">#{fileId},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="content != null">#{content},</if>
            <if test="uploadedBy != null">#{uploadedBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="orderIndex != null">#{orderIndex},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.coursistant.lms.module.file.entity.SubmissionFile">
        update AssignmentSubmissionFile
        <set>
            <if test="submissionId != null">submission_id = #{submissionId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="content != null">content = #{content},</if>
            <if test="uploadedBy != null">uploaded_by = #{uploadedBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="orderIndex != null">order_index = #{orderIndex},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from AssignmentSubmissionFile where id = #{id}
    </delete>

    <delete id="deleteBySubmissionId" parameterType="int">
        delete from AssignmentSubmissionFile where submission_id = #{submissionId}
    </delete>


    <select id="selectFileBySubmissionId" resultType="com.coursistant.lms.module.file.entity.SubmissionFile">
        SELECT
        <include refid="Base_Column_List"/>
        FROM AssignmentSubmissionFile
        WHERE submission_id = #{submissionId}
        AND type = 'file'
    </select>


</mapper>
