<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coursistant.lms.module.user.repository.StatusMapper">

    <sql id="Base_Column_List">
        id, type, due
    </sql>

    <!-- 查询所有 Status // Select all Statuss -->
    <select id="selectAll" resultType="com.coursistant.lms.module.user.entity.Status">
        select
        <include refid="Base_Column_List" />
        from Status
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="type != null"> and type= #{type}</if>
            <if test="due != null"> and due= #{due}</if>
        </where>
    </select>

    <!-- 通过 ID 查询 Status // Select Status by ID -->
    <select id="selectById" resultType="com.coursistant.lms.module.user.entity.Status">
        select
        <include refid="Base_Column_List" />
        from Status
        where id = #{id}
    </select>

    <!-- 通过 ID 删除 Status // Delete Status by ID -->
    <delete id="deleteById">
        delete from Status
        where id = #{id}
    </delete>

    <!-- 插入新的 Status // Insert a new Status -->
    <insert id="insert" parameterType="com.coursistant.lms.module.user.entity.Status" useGeneratedKeys="true">
        insert into Status
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="type != null">type,</if>
            <if test="due != null">due,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="type != null">#{type},</if>
            <if test="due != null">#{due},</if>
        </trim>
    </insert>

    <!-- 更新 Status // Update Status -->
    <update id="updateById" parameterType="com.coursistant.lms.module.user.entity.Status">
        update Status
        <set>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="due != null">
                due = #{due},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
