<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coursistant.lms.module.user.repository.UserMapper">

    <!-- Always alias snake_case -> camelCase to avoid relying on global underscoreToCamelCase -->
    <sql id="Base_Column_List">
        id,
        username,
        password,
        name,
        phone,
        email,
        avatar,
        role,
        level,
        invitation,
        must_change_password AS mustChangePassword
    </sql>

    <!-- ====== SELECTS ====== -->
    <select id="selectAll" resultType="com.coursistant.lms.module.user.entity.User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM User
        <where>
            <if test="id != null">AND id = #{id}</if>
            <if test="username != null">AND username = #{username}</if>
            <if test="password != null">AND password = #{password}</if>
            <if test="name != null">AND name = #{name}</if>
            <if test="phone != null">AND phone = #{phone}</if>
            <if test="email != null">AND email = #{email}</if>
            <if test="avatar != null">AND avatar = #{avatar}</if>
            <if test="role != null">AND role = #{role}</if>
            <if test="level != null">AND level = #{level}</if>
            <if test="invitation != null">AND invitation = #{invitation}</if>
            <if test="mustChangePassword != null">AND must_change_password = #{mustChangePassword, jdbcType=TINYINT}</if>
        </where>
    </select>

    <select id="selectById" resultType="com.coursistant.lms.module.user.entity.User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM User
        WHERE id = #{id}
    </select>


    <select id="selectStudentsByCourseId" resultType="com.coursistant.lms.module.user.entity.User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM User
        WHERE id IN (
        SELECT user_id FROM Learn WHERE course_id = #{courseId}
        )
    </select>

    <select id="selectUsersByIds" resultType="com.coursistant.lms.module.user.entity.User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM User
        WHERE id IN
        <foreach item="id" collection="userIds" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <!-- ====== DML ====== -->

    <delete id="deleteById">
        DELETE FROM User
        WHERE id = #{id}
    </delete>

    <insert id="insert" parameterType="com.coursistant.lms.module.user.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO User
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="name != null">name,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="avatar != null">avatar,</if>
            <if test="role != null">role,</if>
            <if test="level != null">level,</if>
            <if test="invitation != null">invitation,</if>
            <if test="mustChangePassword != null">must_change_password,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="role != null">#{role},</if>
            <if test="level != null">#{level},</if>
            <if test="invitation != null">#{invitation},</if>
            <if test="mustChangePassword != null">#{mustChangePassword, jdbcType=TINYINT},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.coursistant.lms.module.user.entity.User">
        UPDATE User
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="name != null">name = #{name},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="email != null">email = #{email},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="role != null">role = #{role},</if>
            <if test="level != null">level = #{level},</if>
            <if test="invitation != null">invitation = #{invitation},</if>
            <if test="mustChangePassword != null">
                must_change_password = #{mustChangePassword, jdbcType=TINYINT},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateMustChangePassword">
        UPDATE User
        SET must_change_password = #{mustChangePassword, jdbcType=TINYINT}
        WHERE id = #{id}
    </update>

    <!-- <select id="selectUserLevelById" parameterType="com.coursistant.lms.module.user.entity.User" resultType="String">
        SELECT level 
        FROM User 
        WHERE id = #{userId}
    </select> -->

    <!-- <update id="AddNameChangeRequest" parameterType="com.coursistant.lms.module.user.entity.User">
        INSERT INTO NameChangeRequest(user_id, current_name, new_name) VALUES (#{userId}, #{currentName}, #{newName});
    </update> -->

    <insert id="addNameChangeRequest" parameterType="com.coursistant.lms.module.user.entity.User">
        INSERT INTO NameChangeRequest(user_id, current_name, new_name) 
        VALUES (#{user_id}, #{currentName}, #{newName})
    </insert>

    <update id="reviewNameChangeRequest" parameterType="com.coursistant.lms.module.user.entity.User">
        UPDATE NameChangeRequest 
        SET decision=#{decision}, adminId = #{adminId} 
        WHERE user_id = #{userId}
    </update>

    <select id="selectUserLevelById" parameterType="com.coursistant.lms.module.user.entity.User" resultType="String">
        SELECT level 
        FROM User 
        WHERE id = #{userId}
    </select>

</mapper>
