<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coursistant.lms.module.interaction.repository.BookmarkMapper">

    <sql id="Base_Column_List">
        id, user_id, course_id
    </sql>

    <!-- 查询所有 Bookmark // Select all Bookmarks -->
    <select id="selectAll" resultType="com.coursistant.lms.module.interaction.entity.Bookmark">
        select
        <include refid="Base_Column_List" />
        from bookmark
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="userId != null"> and user_id= #{userId}</if>
            <if test="courseId != null"> and course_id= #{courseId}</if>
        </where>
    </select>

    <!-- 通过 ID 查询 Bookmark // Select Bookmark by ID -->
    <select id="selectById" resultType="com.coursistant.lms.module.interaction.entity.Bookmark">
        select
        <include refid="Base_Column_List" />
        from bookmark
        where id = #{id}
    </select>

    <!-- 通过 ID 删除 Bookmark // Delete Bookmark by ID -->
    <delete id="deleteById">
        delete from bookmark
        where id = #{id}
    </delete>

    <!-- 插入新的 Bookmark // Insert a new Bookmark -->
    <insert id="insert" parameterType="com.coursistant.lms.module.interaction.entity.Bookmark" useGeneratedKeys="true">
        insert into bookmark
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="courseId != null">course_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="courseId != null">#{courseId},</if>
        </trim>
    </insert>

    <!-- 更新 Bookmark // Update bookmark -->
    <update id="updateById" parameterType="com.coursistant.lms.module.interaction.entity.Bookmark">
        update bookmark
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="courseId != null">
                course_id = #{courseId},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
