<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coursistant.lms.module.course.repository.LearnMapper">

    <sql id="Base_Column_List">
        id, user_id, course_id
    </sql>

    <select id="selectByUserIdAndCourseId" resultType="com.coursistant.lms.module.course.entity.Learn">
        SELECT *
        FROM Learn
        WHERE user_id = #{userId}
        AND course_id = #{courseId}
        LIMIT 1
    </select>

    <select id="selectAll" resultType="com.coursistant.lms.module.course.entity.Learn">
        select Learn.*, Course.name as courseName, Course.course_code as courseCode,Course.instructor_name as instructorName, Course.school as school, Course.semester as semester,
        User.name as studentName, User.username as studentUsername,
        User.phone as studentPhone, User.email as studentEmail, User.avatar as studentAvatar
        from Learn
        left join Course on Learn.course_id = Course.id
        left join User on Learn.user_id = User.id
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="userId != null"> and user_id= #{userId}</if>
            <if test="courseId != null"> and course_id= #{courseId}</if>
        </where>
    </select>

    <select id="selectById" resultType="com.coursistant.lms.module.course.entity.Learn">
        select
        <include refid="Base_Column_List" />
        from Learn
        where id = #{id}
    </select>

    <select id="selectByCourseId" resultType="com.coursistant.lms.module.course.entity.Learn">
        SELECT * FROM Learn
        WHERE course_id = #{courseId}
        AND (course_status IS NULL OR course_status = 'ACTIVE')
    </select>

    <delete id="deleteById">
        delete from Learn
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.coursistant.lms.module.course.entity.Learn" useGeneratedKeys="true">
        insert into Learn
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="courseId != null">course_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="courseId != null">#{courseId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.coursistant.lms.module.course.entity.Learn">
        update Learn
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="courseId != null">
                course_id = #{courseId},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateLearnStatusById" parameterType="com.coursistant.lms.module.course.entity.Learn">
        UPDATE Learn 
        SET course_status = #{courseStatus} 
        WHERE user_id = #{userId} AND course_id = #{courseId}
    </update>

    <select id="selectLearnStatusById" parameterType="com.coursistant.lms.module.course.entity.Learn" resultType="String">
        SELECT course_status 
        FROM Learn WHERE user_id = #{userId} AND course_id = #{courseId}
    </select>

    <update id="updateGradeById" parameterType="com.coursistant.lms.module.course.entity.Learn">
        UPDATE Learn 
        SET grade = #{grade} 
        WHERE user_id = #{userId} AND course_id = #{courseId}
    </update>

    <select id="selectGradeById" parameterType="com.coursistant.lms.module.course.entity.Learn" resultType="String">
        SELECT grade 
        FROM Learn 
        WHERE user_id = #{userId} AND course_id = #{courseId}
    </select>


    <select id="selectEmailsByCourseId" resultType="java.lang.String">
        SELECT u.email
        FROM Learn l
                 JOIN User u ON l.user_id = u.id
        WHERE l.course_id = #{courseId}
          AND u.email IS NOT NULL
    </select>


</mapper>
