<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coursistant.lms.mapper.interaction.AnnouncementMapper">

    <sql id="Base_Column_List">
        id, user_id, course_id, content, title, created_at, updated_at
    </sql>

    <!-- 查询所有 Announcement，并通过 user_id 关联查询发布人名称 -->
    <select id="selectAll" resultType="com.coursistant.lms.entity.Announcement">
        select
        a.id,
        a.user_id,
        a.course_id,
        a.content,
        a.title,
        a.created_at as createdAt,
        a.updated_at as updatedAt,
        u.name as name
        from Announcement a
        left join User u on a.user_id = u.id
        <where>
            <if test="id != null"> and a.id = #{id}</if>
            <if test="userId != null"> and a.user_id = #{userId}</if>
            <if test="courseId != null"> and a.course_id = #{courseId}</if>
            <if test="content != null"> and a.content like concat('%', #{content}, '%')</if>
            <if test="title != null"> and a.title = #{title}</if>
            <if test="createdAt != null"> and a.created_at = #{createdAt}</if>
            <if test="updatedAt != null"> and a.updated_at = #{updatedAt}</if>
        </where>
        order by a.id desc
    </select>




    <select id="selectById" resultType="com.coursistant.lms.entity.Announcement">
        select
            a.id,
            a.user_id,
            a.course_id,
            a.content,
            a.title,
            a.created_at as createdAt,
            a.updated_at as updatedAt,
            u.name as name
        from Announcement a
                 left join User u on a.user_id = u.id
        where a.id = #{id}
    </select>




    <!-- 通过 ID 删除 -->
    <delete id="deleteById">
        delete from Announcement where id = #{id}
    </delete>

    <!-- 插入新的 Announcement -->
    <insert id="insert" parameterType="com.coursistant.lms.entity.Announcement" useGeneratedKeys="true" keyProperty="id">
        insert into Announcement
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="content != null">content,</if>
            <if test="title != null">title,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="content != null">#{content},</if>
            <if test="title != null">#{title},</if>
        </trim>
    </insert>


    <!-- 更新 Announcement -->
    <update id="updateById" parameterType="com.coursistant.lms.entity.Announcement">
        update Announcement
        <set>
            <if test="userId != null"> user_id = #{userId}, </if>
            <if test="courseId != null"> course_id = #{courseId}, </if>
            <if test="content != null"> content = #{content}, </if>
            <if test="title != null"> title = #{title}, </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectLatestAnnouncementByCourseId" resultType="com.coursistant.lms.entity.DTO.AnnouncementDTO">
        SELECT c.name AS courseName, u.name AS userName,a1.title ,a1.content,a1.created_at,a1.updated_at,af.path,(SELECT COUNT(*)
        FROM AnnouncementRead
        WHERE announcement_id = a1.id AND course_id = c.id) AS count
        FROM  Course c
        INNER JOIN Announcement a1
        ON c.id = a1.course_id
        INNER JOIN User u
        ON a1.user_id = u.id
        LEFT JOIN AnnouncementFile af
        ON af.announcement_id = a1.id
        WHERE c.id IN
        <foreach item="courseList" index="index" collection="list"
            open="(" separator="," close=")">
                #{courseList.id}
        </foreach>
        AND GREATEST(a1.created_at,a1.updated_at) = (
        SELECT MAX(GREATEST(a2.created_at,a2.updated_at))
        FROM Announcement a2
        WHERE a2.course_id = a1.course_id);

    </select>

    <insert id="readAnnouncement" parameterType="Integer">
        INSERT INTO AnnouncementRead (student_id, announcement_id, course_id)
        VALUES (#{userId},#{announcementId}, #{courseId})
    </insert>

    <select id="isAnnouncementRead" parameterType="Integer" resultType="Integer">
        SELECT 1
        FROM AnnouncementRead
        WHERE student_id = #{userId} AND announcement_id = #{announcementId} AND course_id = #{courseId}
    </select>


</mapper>
