<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coursistant.lms.mapper.file.AssignmentItemMapper">

    <sql id="Base_Column_List">
        id, assignment_id, type, file_id, content, uploaded_by, create_time, order_index,file_path
    </sql>

    <select id="selectAll" resultType="com.coursistant.lms.entity.AssignmentItem">
        select
        <include refid="Base_Column_List"/>
        from AssignmentItem
        <where>
            <if test="id != null">and id = #{id}</if>
            
            <if test="assignmentId != null">and assignment_id = #{assignmentId}</if>
            <if test="type != null">and type = #{type}</if>
            <if test="fileId != null">and file_id = #{fileId}</if>
        </where>
    </select>

    <select id="selectAssignmentInfo" resultType="com.coursistant.lms.entity.AssignmentItem">
        SELECT
        <include refid="Base_Column_List"/>
        FROM AssignmentItem
        WHERE assignment_id = #{assignmentId}
    </select>

    <select id="selectById" resultType="com.coursistant.lms.entity.AssignmentItem">
        select
        <include refid="Base_Column_List"/>
        from AssignmentItem
        where id = #{id}
    </select>

    <select id="selectByAssignmentId" resultType="com.coursistant.lms.entity.AssignmentItem">
        select
        <include refid="Base_Column_List"/>
        from AssignmentItem
        where assignment_id = #{assignmentId}
    </select>

    <insert id="insert" parameterType="com.coursistant.lms.entity.AssignmentItem" useGeneratedKeys="true" keyProperty="id">
        insert into AssignmentItem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="assignmentId != null">assignment_id,</if>
            <if test="type != null">type,</if>
            <if test="fileId != null">file_id,</if>
            <if test="filePath != null">file_path,</if>
            <if test="content != null">content,</if>
            <if test="uploadedBy != null">uploaded_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="orderIndex != null">order_index,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="assignmentId != null">#{assignmentId},</if>
            <if test="type != null">#{type},</if>
            <if test="fileId != null">#{fileId},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="content != null">#{content},</if>
            <if test="uploadedBy != null">#{uploadedBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="orderIndex != null">#{orderIndex},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.coursistant.lms.entity.AssignmentItem">
        update AssignmentItem
        <set>
            <if test="assignmentId != null">assignment_id = #{assignmentId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
            <if test="content != null">content = #{content},</if>
            <if test="uploadedBy != null">uploaded_by = #{uploadedBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="orderIndex != null">order_index = #{orderIndex},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from AssignmentItem where id = #{id}
    </delete>

    <delete id="deleteByAssignmentId" parameterType="int">
        delete from AssignmentItem where assignment_id = #{assignmentId}
    </delete>


    <select id="selectAssignmentFilesByCourseId" resultType="com.coursistant.lms.entity.DiskFiles">
        SELECT DISTINCT d.*
        FROM Diskfiles d
                 JOIN AssignmentItem ai ON d.id = ai.file_id
                 JOIN Assignment a ON ai.assignment_id = a.id
        WHERE a.course_id = #{courseId}
          AND ai.type = 'file'
          AND d.`delete` = 0
        ORDER BY d.create_time DESC
    </select>

</mapper>
