<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coursistant.lms.mapper.assignment.AssignmentSubmissionMapper">

    <!-- 字段列表 // Base column list -->
    <sql id="Base_Column_List">
        id, assignment_id, student_id, grader_id, date, status, grade, comment, is_final
    </sql>

    <!-- 查询所有 AssignmentSubmission // Select all AssignmentSubmissions -->
    <select id="selectAll" resultType="com.coursistant.lms.entity.AssignmentSubmission">
        SELECT
        <include refid="Base_Column_List" />
        FROM AssignmentSubmission
        <where>
            <if test="id != null"> AND id = #{id} </if>
            <if test="assignmentId != null"> AND assignment_id = #{assignmentId} </if>
            <if test="studentId != null"> AND student_id = #{studentId} </if>
            <if test="graderId != null"> AND grader_id = #{graderId} </if>
            <if test="date != null"> AND date = #{date} </if>
            <if test="status != null"> AND status = #{status} </if>
            <if test="grade != null"> AND grade = #{grade} </if>
            <if test="comment != null"> AND comment = #{comment} </if>
            <if test="isFinal != null"> AND is_final = #{isFinal} </if>
        </where>
    </select>

    <!-- 通过 ID 查询 AssignmentSubmission // Select AssignmentSubmission by ID -->
    <select id="selectById" resultType="com.coursistant.lms.entity.AssignmentSubmission">
        SELECT
        <include refid="Base_Column_List" />
        FROM AssignmentSubmission
        WHERE id = #{id}
    </select>

    <!-- 通过 ID 删除 AssignmentSubmission // Delete AssignmentSubmission by ID -->
    <delete id="deleteById">
        DELETE FROM AssignmentSubmission
        WHERE id = #{id}
    </delete>

    <!-- 插入新的 AssignmentSubmission // Insert a new AssignmentSubmission -->
    <insert id="insert" parameterType="com.coursistant.lms.entity.AssignmentSubmission" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO AssignmentSubmission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="assignmentId != null">assignment_id,</if>
            <if test="studentId != null">student_id,</if>
            <if test="graderId != null">grader_id,</if>
            <if test="status != null">status,</if>
            <if test="grade != null">grade,</if>
            <if test="comment != null">comment,</if>
            <if test="isFinal != null">is_final,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="assignmentId != null">#{assignmentId},</if>
            <if test="studentId != null">#{studentId},</if>
            <if test="graderId != null">#{graderId},</if>
            <if test="status != null">#{status},</if>
            <if test="grade != null">#{grade},</if>
            <if test="comment != null">#{comment},</if>
            <if test="isFinal != null">#{isFinal},</if>
        </trim>
    </insert>

    <!-- 更新 AssignmentSubmission // Update AssignmentSubmission -->
    <update id="updateById" parameterType="com.coursistant.lms.entity.AssignmentSubmission">
        UPDATE AssignmentSubmission
        <set>
            <if test="assignmentId != null">assignment_id = #{assignmentId},</if>
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="graderId != null">grader_id = #{graderId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="comment != null">comment = #{comment},</if>
            <if test="isFinal != null">is_final = #{isFinal},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="clearFinalFlag">
        UPDATE AssignmentSubmission
        SET is_final = false
        WHERE assignment_id = #{assignmentId} AND student_id = #{studentId}
    </update>

    <select id="selectFinalGradedByAssignmentId" resultType="com.coursistant.lms.entity.AssignmentSubmission">
        SELECT *
        FROM AssignmentSubmission
        WHERE assignment_id = #{assignmentId}
          AND is_final = 1
          AND grade IS NOT NULL
    </select>


</mapper>
