<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coursistant.lms.mapper.chat.ChatMapper">

    <sql id="Base_Column_List">
        id, dialogue_id, query_text,query_image,answer_text,answer_image,time,`delete`,delete_time
    </sql>


    <select id="selectAll" resultType="com.coursistant.lms.entity.Chat">
        select
        <include refid="Base_Column_List" />
        from Chat
         <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="dialogueId != null"> and dialogue_id = #{dialogueId}</if>
            <if test="queryText != null"> and query_text = #{queryText}</if>
            <if test="queryImage != null"> and query_image = #{queryImage}</if>
            <if test="answerText != null"> and answer_text = #{answerText}</if>
            <if test="answerImage != null"> and answer_image = #{answerImage}</if>
            <if test="time != null"> and time = #{time}</if>
            <if test="delete != null"> and `delete` = #{delete}</if>
            <if test="deleteTime != null"> and delete_time = #{deleteTime}</if>
            and (`delete` IS NULL OR `delete` = FALSE)
        </where>
    </select>

    <select id="selectById" resultType="com.coursistant.lms.entity.Chat">
        select
        <include refid="Base_Column_List" />
        from Chat
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from Chat
        where id = #{id}
    </delete>

    <update id="updateSoftDeleteByDialogueId">
        UPDATE Chat 
        SET `delete` = #{delete}, delete_time = #{deleteTime}
        WHERE dialogue_id = #{dialogueId}
    </update>

    <insert id="insert" parameterType="com.coursistant.lms.entity.Chat" useGeneratedKeys="true">
        insert into Chat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="dialogueId != null">dialogue_id,</if>
            <if test="queryText != null">query_text,</if>
            <if test="queryImage != null">query_image,</if>
            <if test="answerText != null">answer_text,</if>
            <if test="answerImage != null">answer_image,</if>
            <if test="time != null">time,</if>
            <if test="delete != null">`delete`,</if>
            <if test="deleteTime != null">delete_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="dialogueId != null">#{dialogueId},</if>
            <if test="queryText != null">#{queryText},</if>
            <if test="queryImage != null">#{queryImage},</if>
            <if test="answerText != null">#{answerText},</if>
            <if test="answerImage != null">#{answerImage},</if>
            <if test="time != null">#{time},</if>
            <if test="delete != null">#{`delete`},</if>
            <if test="deleteTime != null">#{deleteTime},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.coursistant.lms.entity.Chat">
        update Chat
        <set>
            <if test="dialogueId != null">
                dialogue_id = #{dialogueId},
            </if>
            <if test="queryText != null">
                query_text = #{queryText},
            </if>
            <if test="queryImage != null">
                query_image = #{queryImage},
            </if>
            <if test="answerText != null">
                answer_text = #{answerText},
            </if>
            <if test="answerImage != null">
                answer_image = #{answerImage},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="delete != null">
                `delete` = #{delete},
            </if>
            <if test="deleteTime != null">
                delete_time = #{deleteTime},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
