<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coursistant.lms.mapper.course.CourseScheduleMapper">

    <sql id="Base_Column_List">
        id, course_id, professor_id, weekday, start_time, end_time, location,timezone,
        start_date, end_date, created_at, updated_at
    </sql>

    <select id="selectAll" resultType="com.coursistant.lms.entity.CourseSchedule">
        select
        <include refid="Base_Column_List"/>
        from CourseSchedule
        <where>
            <if test="id != null"> and id = #{id}</if>
            <if test="courseId != null"> and course_id = #{courseId}</if>
            <if test="professorId != null"> and professor_id = #{professorId}</if>
            <if test="weekday != null"> and weekday = #{weekday}</if>
            <if test="location != null"> and location = #{location}</if>
            <if test="timezone != null"> and timezone = #{timezone}</if>
        </where>
    </select>

    <select id="selectById" resultType="com.coursistant.lms.entity.CourseSchedule">
        select
        <include refid="Base_Column_List"/>
        from CourseSchedule
        where id = #{id}
    </select>

    <select id="selectByCourseId" resultType="com.coursistant.lms.entity.CourseSchedule">
        select
        <include refid="Base_Column_List"/>
        from CourseSchedule
        where course_id = #{courseId}
    </select>

    <delete id="deleteById">
        delete from CourseSchedule where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.coursistant.lms.entity.CourseSchedule" useGeneratedKeys="true" keyProperty="id">
        insert into CourseSchedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">course_id,</if>
            <if test="professorId != null">professor_id,</if>
            <if test="weekday != null">weekday,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="location != null">location,</if>
            <if test="startDate != null">start_date,</if>
            <if test="endDate != null">end_date,</if>
            <if test="timezone != null">timezone,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">#{courseId},</if>
            <if test="professorId != null">#{professorId},</if>
            <if test="weekday != null">#{weekday},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="location != null">#{location},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="endDate != null">#{endDate},</if>
            <if test="timezone != null">#{timezone},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.coursistant.lms.entity.CourseSchedule">
        update CourseSchedule
        <set>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="professorId != null">professor_id = #{professorId},</if>
            <if test="weekday != null">weekday = #{weekday},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="location != null">location = #{location},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="timezone != null">end_date = #{timezone},</if>
        </set>
        where id = #{id}
    </update>

</mapper>
