<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coursistant.lms.mapper.file.FolderItemMapper">

    <sql id="Base_Column_List">
        id, course_id,folder_id, type, file_id, content, uploaded_by, create_time, order_index, is_course_info
    </sql>

    <select id="selectAll" resultType="com.coursistant.lms.entity.FolderItem">
        select
        <include refid="Base_Column_List"/>
        from FolderItem
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="courseId != null">and course_Id = #{courseId}</if>
            <if test="folderId != null">and folder_id = #{folderId}</if>
            <if test="type != null">and type = #{type}</if>
            <if test="fileId != null">and file_id = #{fileId}</if>
        </where>
    </select>

    <select id="selectCourseInfo" resultType="com.coursistant.lms.entity.FolderItem">
        SELECT
        <include refid="Base_Column_List"/>
        FROM FolderItem
        WHERE course_id = #{courseId}
        AND is_course_info = 1
    </select>

    <select id="selectById" resultType="com.coursistant.lms.entity.FolderItem">
        select
        <include refid="Base_Column_List"/>
        from FolderItem
        where id = #{id}
    </select>

    <select id="selectByFolderId" resultType="com.coursistant.lms.entity.FolderItem">
        select
        <include refid="Base_Column_List"/>
        from FolderItem
        where folder_id = #{folderId}
    </select>

    <insert id="insert" parameterType="com.coursistant.lms.entity.FolderItem" useGeneratedKeys="true" keyProperty="id">
        insert into FolderItem
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseId != null">course_id,</if>
            <if test="folderId != null">folder_id,</if>
            <if test="type != null">type,</if>
            <if test="fileId != null">file_id,</if>
            <if test="content != null">content,</if>
            <if test="uploadedBy != null">uploaded_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="orderIndex != null">order_index,</if>
            <if test="isCourseInfo != null">is_course_info,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="courseId != null">#{courseId},</if>
            <if test="folderId != null">#{folderId},</if>
            <if test="type != null">#{type},</if>
            <if test="fileId != null">#{fileId},</if>
            <if test="content != null">#{content},</if>
            <if test="uploadedBy != null">#{uploadedBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="orderIndex != null">#{orderIndex},</if>
            <if test="isCourseInfo != null">#{isCourseInfo},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.coursistant.lms.entity.FolderItem">
        update FolderItem
        <set>
            <if test="courseId != null">course_Id = #{courseId},</if>
            <if test="folderId != null">folder_id = #{folderId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="fileId != null">file_id = #{fileId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="uploadedBy != null">uploaded_by = #{uploadedBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="orderIndex != null">order_index = #{orderIndex},</if>
            <if test="isCourseInfo != null">is_course_info = #{isCourseInfo},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from FolderItem where id = #{id}
    </delete>

    <delete id="deleteByFolderId" parameterType="int">
        delete from FolderItem where folder_id = #{folderId}
    </delete>

    <select id="selectFolderFilesByCourseId" resultType="com.coursistant.lms.entity.DiskFiles">
        SELECT DISTINCT d.*
        FROM Diskfiles d
                 JOIN FolderItem fi ON d.id = fi.file_id
        WHERE fi.course_id = #{courseId}
          AND fi.type = 'file'
          AND fi.file_id IS NOT NULL
          AND d.`delete` = 0
        ORDER BY d.create_time DESC
    </select>


</mapper>
