<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coursistant.lms.mapper.assignment.GroupMemberMapper">

    <sql id="Base_Column_List">
        id, group_id, course_id, user_id
    </sql>

    <insert id="insert" parameterType="com.coursistant.lms.entity.GroupMember" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO GroupMembers (group_id, course_id, user_id)
        VALUES (#{groupId}, #{courseId}, #{userId})
    </insert>

    <delete id="deleteById" parameterType="int">
        DELETE FROM GroupMembers WHERE id = #{id}
    </delete>

    <delete id="deleteByGroupId" parameterType="int">
        DELETE FROM GroupMembers WHERE group_id = #{groupId}
    </delete>

    <select id="selectByGroupId" resultType="com.coursistant.lms.entity.GroupMember">
        SELECT <include refid="Base_Column_List"/>
        FROM GroupMembers
        WHERE group_id = #{groupId}
    </select>

    <select id="selectByGroupIdAndUserId" resultType="com.coursistant.lms.entity.GroupMember">
        SELECT <include refid="Base_Column_List"/>
        FROM GroupMembers
        WHERE group_id = #{groupId} AND user_id = #{userId}
    </select>

    <select id="selectAll" resultType="com.coursistant.lms.entity.GroupMember">
        select
        <include refid="Base_Column_List" />
        from GroupMembers
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="username != null"> and group_id = #{groupId}</if>
            <if test="password != null"> and course_id= #{courseId}</if>
            <if test="name != null"> and user_id= #{userId}</if>

        </where>
    </select>

</mapper>