<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coursistant.lms.mapper.user.ProfileMapper">
    <!-- Insert a new profile -->
    <insert id="insert" parameterType="com.coursistant.lms.entity.Profile">
        INSERT INTO Profile (user_id, preferred_name, pronouns, email, introduction, avatar, school_name, graduation_year, major, interest, profile, date_of_birth)
        VALUES (#{userId}, #{preferredName}, #{pronouns}, #{email}, #{introduction}, #{avatar}, #{schoolName}, #{graduationYear}, #{major}, #{interest}, #{profile}, #{dateOfBirth})
    </insert>

    <!-- Delete a profile by ID -->
    <delete id="deleteById">
        DELETE FROM Profile WHERE user_id = #{userId}
    </delete>

    <!-- Update a profile by ID -->
    <update id="updateById" parameterType="com.coursistant.lms.entity.Profile">
        UPDATE Profile
        SET preferred_name = #{preferredName},
            pronouns = #{pronouns},
            introduction = #{introduction},
            avatar = #{avatar},
            school_name = #{schoolName},
            graduation_year = #{graduationYear},
            major = #{major},
            interest = #{interest},
            profile = #{profile},
            email = #{email},
            date_of_birth = #{dateOfBirth}
        WHERE id = #{id}
    </update>

    <!-- Select a profile by ID -->
    <select id="selectByUserId" resultType="com.coursistant.lms.entity.Profile">
        <!-- SELECT * FROM Profile WHERE user_id = #{userId} -->
         <!-- SELECT p.*, c.name FROM Profile p, Course c, Learn l WHERE p.user_id = #{userId} AND p.user_id = l.user_id AND l.course_id = c.id AND (l.course_status = "completed" OR l.course_status IS NULL); -->
        <!-- SELECT p.*, CAST(GROUP_CONCAT(c.name) AS CHAR) AS completed_courses
        FROM Profile p, Course c, Learn l 
        WHERE p.user_id = #{userId} AND p.user_id = l.user_id AND l.course_id = c.id AND (l.course_status = "completed" OR l.course_status IS NULL)
        GROUP BY p.user_id, p.id, p.preferred_name, p.pronouns, p.email, p.introduction, p.avatar, p.school_name, p.graduation_year, p.major, p.interest, p.profile, p.privacy; -->

        SELECT p.*, 
            CASE 
                WHEN COUNT(l.user_id) > 0 
                THEN CAST(GROUP_CONCAT(c.name) AS CHAR)
                ELSE NULL 
            END AS completed_courses
        FROM Profile p
        LEFT JOIN Learn l ON p.user_id = l.user_id 
            AND (l.course_status = "completed")
        LEFT JOIN Course c ON l.course_id = c.id
        WHERE p.user_id = #{userId}
        GROUP BY p.user_id, p.id, p.preferred_name, p.pronouns, p.email, 
                p.introduction, p.avatar, p.school_name, p.graduation_year, 
                p.major, p.interest, p.profile, p.privacy;
    </select>

    <!-- Select all profiles -->
    <select id="selectAll" resultType="com.coursistant.lms.entity.Profile">
        SELECT * FROM Profile
    </select>

    <!--Change profile privacy settings for a user-->
    <update id="updateUserPrivacyById" parameterType="com.coursistant.lms.entity.Profile">
        UPDATE Profile 
        SET privacy = #{privacy} 
        WHERE user_id = #{userId}
    </update>

    <!--Show privacy settings for a user-->
    <select id="selectUserPrivacyById" parameterType="com.coursistant.lms.entity.Profile" resultType="String">
        SELECT privacy 
        FROM Profile 
        WHERE user_id = #{userId}
    </select>

    <select id="selectGradesById" resultType="map">
        SELECT c.name,l.grade 
        FROM Course c, Learn l 
        WHERE l.course_id = c.id AND l.user_id = #{userId}
    </select>

    <select id="selectCourseGradesById" resultType="map">
        SELECT u.name, l.grade 
        FROM User u, Learn l, Course c, Teach t 
        WHERE l.course_id = #{courseId} AND l.course_id = c.id AND t.course_id = #{courseId} AND u.id = l.user_id AND t.user_id = #{userId};
    </select>

    <select id="selectAvatarPathById" parameterType="com.coursistant.lms.entity.Profile" resultType="String">
        SELECT avatar 
        FROM Profile 
        WHERE user_id = #{userId}
    </select>

    <update id="updateAvatarPathById" parameterType="com.coursistant.lms.entity.Profile">
        UPDATE Profile 
        SET avatar = #{avatarPath} 
        WHERE user_id = #{userId}
    </update>

    <update id="deleteAvatarById" parameterType="com.coursistant.lms.entity.Profile">
        UPDATE Profile 
        SET avatar = NULL 
        WHERE user_id = #{userId}
    </update>
</mapper>
