<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coursistant.lms.mapper.course.TeachMapper">

    <sql id="Base_Column_List">
        id, user_id, course_id
    </sql>


    <select id="selectAll" resultType="com.coursistant.lms.entity.Teach">
        select Teach.*, Course.name as courseName, Course.course_code as courseCode
        from Teach
        left join Course on Teach.course_id = Course.id
        <where>
            <if test="id != null"> and id= #{id}</if>
            <if test="userId != null"> and user_id= #{userId}</if>
            <if test="courseId != null"> and course_id= #{courseId}</if>
        </where>
    </select>

    <select id="selectById" resultType="com.coursistant.lms.entity.Teach">
        select
        <include refid="Base_Column_List" />
        from Teach
        where id = #{id}
    </select>

    <delete id="deleteById">
        delete from Teach
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.coursistant.lms.entity.Teach" useGeneratedKeys="true">
        insert into Teach
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="courseId != null">course_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="courseId != null">#{courseId},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.coursistant.lms.entity.Teach">
        update Teach
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="courseId != null">
                course_id = #{courseId},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>
