<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coursistant.lms.module.assignment.repository.AssignmentMapper">

    <sql id="Base_Column_List">
        id,
        course_id AS courseId,
        title,
        description,
        points_possible AS pointsPossible,
        due_at AS dueAt,
        late_until AS lateUntil,
        submission_type AS submissionType,
        group_set_id AS groupSetId,
        allowed_file_types AS allowedFileTypes,
        max_file_size_bytes AS maxFileSizeBytes,
        max_file_count AS maxFileCount,
        state,
        current_rubric_version_id AS currentRubricVersionId,
        created_by AS createdBy,
        created_at AS createdAt,
        updated_at AS updatedAt
    </sql>

    <insert id="insert" parameterType="com.coursistant.lms.module.assignment.entity.Assignment"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO assignment (
            course_id,
            title,
            description,
            points_possible,
            due_at,
            late_until,
            submission_type,
            group_set_id,
            allowed_file_types,
            max_file_size_bytes,
            max_file_count,
            state,
            current_rubric_version_id,
            created_by
        ) VALUES (
            #{courseId},
            #{title},
            #{description},
            #{pointsPossible},
            #{dueAt},
            #{lateUntil},
            #{submissionType},
            #{groupSetId},
            #{allowedFileTypes},
            #{maxFileSizeBytes},
            #{maxFileCount},
            #{state},
            #{currentRubricVersionId},
            #{createdBy}
        )
    </insert>

    <select id="selectById" resultType="com.coursistant.lms.module.assignment.entity.Assignment">
        SELECT
        <include refid="Base_Column_List"/>
        FROM assignment
        WHERE id = #{id}
    </select>

    <select id="selectByCourseId" resultType="com.coursistant.lms.module.assignment.entity.Assignment">
        SELECT
        <include refid="Base_Column_List"/>
        FROM assignment
        WHERE course_id = #{courseId}
        ORDER BY due_at, id
    </select>

    <select id="selectByCourseIdAndState" resultType="com.coursistant.lms.module.assignment.entity.Assignment">
        SELECT
        <include refid="Base_Column_List"/>
        FROM assignment
        WHERE course_id = #{courseId} AND state = #{state}
        ORDER BY due_at, id
    </select>

    <select id="selectByCourseIdAndId" resultType="com.coursistant.lms.module.assignment.entity.Assignment">
        SELECT
        <include refid="Base_Column_List"/>
        FROM assignment
        WHERE course_id = #{courseId} AND id = #{id}
    </select>

    <update id="updateById" parameterType="com.coursistant.lms.module.assignment.entity.Assignment">
        UPDATE assignment
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="pointsPossible != null">points_possible = #{pointsPossible},</if>
            <if test="dueAt != null">due_at = #{dueAt},</if>
            <if test="lateUntil != null">late_until = #{lateUntil},</if>
            <if test="submissionType != null">submission_type = #{submissionType},</if>
            <if test="groupSetId != null">group_set_id = #{groupSetId},</if>
            <if test="allowedFileTypes != null">allowed_file_types = #{allowedFileTypes},</if>
            <if test="maxFileSizeBytes != null">max_file_size_bytes = #{maxFileSizeBytes},</if>
            <if test="maxFileCount != null">max_file_count = #{maxFileCount},</if>
            <if test="state != null">state = #{state},</if>
            <if test="currentRubricVersionId != null">current_rubric_version_id = #{currentRubricVersionId},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM assignment
        WHERE id = #{id}
    </delete>

    <select id="countSubmissionsByAssignmentId" resultType="int">
        SELECT COUNT(*)
        FROM assignment_submission
        WHERE assignment_id = #{assignmentId}
    </select>

    <select id="countGradesByAssignmentId" resultType="int">
        SELECT COUNT(*)
        FROM assignment_grade
        WHERE assignment_id = #{assignmentId}
    </select>

    <update id="updateCurrentRubricVersionId">
        UPDATE assignment
        SET current_rubric_version_id = #{currentRubricVersionId}
        WHERE id = #{id}
    </update>

    <update id="updateState">
        UPDATE assignment
        SET state = #{state}
        WHERE id = #{id}
    </update>

    <update id="updateLateUntil">
        UPDATE assignment
        SET late_until = #{lateUntil}
        WHERE id = #{id}
    </update>

</mapper>
