<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coursistant.lms.module.assignment.repository.GroupJoinRequestMapper">

    <sql id="Base_Column_List">
        id, group_id, user_id, course_id, assignment_id, status, request_time, approver_id, approve_time
    </sql>

    <insert id="insert" parameterType="com.coursistant.lms.module.assignment.entity.GroupJoinRequest" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO GroupJoinRequest (group_id, user_id, course_id, assignment_id, status, request_time, approver_id, approve_time)
        VALUES (#{groupId}, #{userId}, #{courseId}, #{assignmentId}, #{status}, #{requestTime}, #{approverId}, #{approveTime})
    </insert>

    <update id="updateById" parameterType="com.coursistant.lms.module.assignment.entity.GroupJoinRequest">
        UPDATE GroupJoinRequest
        <set>
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="assignmentId != null">assignment_id = #{assignmentId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="requestTime != null">request_time = #{requestTime},</if>
            <if test="approverId != null">approver_id = #{approverId},</if>
            <if test="approveTime != null">approve_time = #{approveTime},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="int">
        DELETE FROM GroupJoinRequest WHERE id = #{id}
    </delete>

    <select id="selectById" resultType="com.coursistant.lms.module.assignment.entity.GroupJoinRequest">
        SELECT <include refid="Base_Column_List"/>
        FROM GroupJoinRequest
        WHERE id = #{id}
    </select>

    <select id="selectByGroupId" resultType="com.coursistant.lms.module.assignment.entity.GroupJoinRequest">
        SELECT <include refid="Base_Column_List"/>
        FROM GroupJoinRequest
        WHERE group_id = #{groupId}
    </select>

    <select id="selectByUserId" resultType="com.coursistant.lms.module.assignment.entity.GroupJoinRequest">
        SELECT <include refid="Base_Column_List"/>
        FROM GroupJoinRequest
        WHERE user_id = #{userId}
    </select>

    <select id="selectByAssignmentId" resultType="com.coursistant.lms.module.assignment.entity.GroupJoinRequest">
        SELECT <include refid="Base_Column_List"/>
        FROM GroupJoinRequest
        WHERE assignment_id = #{assignmentId}
    </select>

    <select id="selectByCourseId" resultType="com.coursistant.lms.module.assignment.entity.GroupJoinRequest">
        SELECT <include refid="Base_Column_List"/>
        FROM GroupJoinRequest
        WHERE course_id = #{courseId}
    </select>

    <select id="selectByStatus" resultType="com.coursistant.lms.module.assignment.entity.GroupJoinRequest">
        SELECT <include refid="Base_Column_List"/>
        FROM GroupJoinRequest
        WHERE status = #{status}
    </select>

    <select id="selectByGroupIdAndUserId" resultType="com.coursistant.lms.module.assignment.entity.GroupJoinRequest">
        SELECT <include refid="Base_Column_List"/>
        FROM GroupJoinRequest
        WHERE group_id = #{groupId} AND user_id = #{userId}
    </select>

    <select id="selectByAssignmentIdAndUserId" resultType="com.coursistant.lms.module.assignment.entity.GroupJoinRequest">
        SELECT <include refid="Base_Column_List"/>
        FROM GroupJoinRequest
        WHERE assignment_id = #{assignmentId} AND user_id = #{userId}
    </select>

    <select id="selectAll" resultType="com.coursistant.lms.module.assignment.entity.GroupJoinRequest" parameterType="com.coursistant.lms.module.assignment.entity.GroupJoinRequest">
        SELECT <include refid="Base_Column_List"/>
        FROM GroupJoinRequest
        <where>
            <if test="id != null">AND id = #{id}</if>
            <if test="groupId != null">AND group_id = #{groupId}</if>
            <if test="userId != null">AND user_id = #{userId}</if>
            <if test="courseId != null">AND course_id = #{courseId}</if>
            <if test="assignmentId != null">AND assignment_id = #{assignmentId}</if>
            <if test="status != null">AND status = #{status}</if>
            <if test="approverId != null">AND approver_id = #{approverId}</if>
        </where>
        ORDER BY request_time DESC
    </select>

</mapper>
